@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --grey: #505050;
    --black: #181818;
    --white:  #FFFFFF;
    --pink: #FF69B4;
    --green: #66FF00;
    --blue: #0096FF;
    --yellow: #FFFF00;
    --purple: #C901FB;
    --turq: #01E5FE;
    --red: #DC143C;
    --gold: #DEB887;
    --olive: #808000;
  }

*{
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-family: 'Lato', sans-serif;

}

nav{
    background-color: var(--grey);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    right:0;
}

nav a {
    color: #fff;
    margin-left:20px;
    text-decoration:none;
    position: relative;
}

nav a:hover {
    text-decoration:underline;
}

footer{
    background-color: var(--grey);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
}

header{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center center;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    flex-direction:column;
    color: #fff;
}

header::after {
    content:'';
    background-color: #000;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.65;
}

header * {
    position: relative;
    z-index: 1; 
}


header h1{
    font-size: 60px;
    margin: 0;
    margin-top:0;
}


.typing-container{
    font-size: 18px;
    display: flex;
}

.project{
    max-width: 250px;
    margin: 10px;
}

.projects-container{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    max-width: 810px;
    margin: 20px auto 0;
    color: white;
    text-decoration: none;
}

a{
    color:white;
    text-decoration:none;
    text-decoration: underline;
    }


.project img {
    max-width: 100%;
}

p{
    line-height: 1.5;
    text-align: center;
    color:white;
}

h2{
    text-align: center;
    margin-bottom: 20px;;
    color:white;
}


h1{
    text-align: center;
}


.skill
{
    background: #333;
    width: 400px;
    margin: 60px auto;
    text-transform: uppercase;
    padding: 20px;
    box-shadow: 0 14px 28px var(--grey), 0 10px 10px rgba(0,0, 0, 0.22 );
    align-items: left;
    color: white;
}

.skill li{
    margin: 20px 0;
    padding: 10px;
}

.bar{
    background: #C0C0C0;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0 1px 3px rgba(0, 0 , 0 ,0.12), 0 1px 2 px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25)
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0 , 0 ,0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
    height:20px;
    float: left;
    background: linear-gradient(135deg, var(--grey)0%, var(--grey) 100%);
}




/* Annoying Repetitive Code*/

.html {
    width: 90%;
    animation: html 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.javabar {
    width: 80%;
    animation: javabar 3s;
}

@keyframes javabar {
    0% {
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.csharp{
    width: 70%;
    animation: csharp 3s;

}

@keyframes csharp {
    0% {
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.Cee{
    width: 60%;
    animation: Cee 3s;
}

@keyframes Cee {
    0% {
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

.Java{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--pink);
    border: var(--pink) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.Processing{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--yellow);
    border: var(--yellow) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.SpotifyAPI{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--green);
    border: var(--green) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

}

.React{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--blue);
    border: var(--blue) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.C{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    border: var(--white) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.Bootstrap{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--grey);
    border: var(--grey) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.FFT{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--turq);
    border: var(--turq) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}


.Beat{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--red);
    border: var(--red) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.React-Bootstrap{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--gold);
    border: var(--gold) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.HTML{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--purple);
    border: var(--purple) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

}

.CSS{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--olive);
    border: var(--olive) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

}

.JS{
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--blue);
    border: var(--blue) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background: none;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;  
}

.skills2{
    float: right;
    margin-right: 165px;
}

.skills{
    float: left;
    margin-left: 165px;
}
.skills section {
    width: 50px; 
}





.java:hover{
    background: #cccccc;
}





